@using Newtonsoft.Json
<h2>API response</h2>
@if (ViewBag.ErrorMessage != null)
{
    <h3>@ViewBag.ErrorMessage</h3>
}

<h3>Authenticated User Claims</h3>
<dl>
    @foreach (var claim in User.Claims)
    {

        <dt>@(claim.Type == "role" ? "group" : claim.Type)</dt>
        <dd>@claim.Value</dd>
    }
</dl>