@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h2>Fabric.Identity MVC Core Hybrid Sample</h2>
    <p class="lead">This is an example of an ASP.NET Core MVC app authenticating with Fabric.Identity. Click the Claims link above to initiate the authentication flow.</p>
</div>