@{
    ViewData["Title"] = "Home Page";
}

@*<div>*@
  @*  <div>*@
        <div class="row-centered logo-row">
            <img src="~/images/HC_logo.svg" alt="ASP.NET" />
        </div>
    @*</div>*@
@*</div>*@

<div class="row">
    <p>This is an example of an ASP.NET Core MVC app authenticating with Fabric.Identity.</p>    
    @if (User.Identity.IsAuthenticated)
    {
        <p>
            <ul>
            You have the following claims:
            @foreach (var claim in User.Claims)
            {
                <li>Type: @claim.Type, Value: @claim.Value</li>
            }
            </ul>
        </p>
    }
</div>
