<h1>Hello, {{profile.name}}!</h1>
<p>This is an example of an Angular app authenticating to Fabric.Identity:</p>
<p>To test it out:</p>
<ul>
    <li>If this is the first time running the app, click <a (click)="setupRolesAndPermissions()" style="cursor: pointer">link</a> to set up roles and permissions.</li>
    <li>Click on Patient tab to view/edit details depending on your permissions</li>
</ul>


<div *ngIf="profile">
        <h3>User claims</h3>
        <p>These are the claims of the user who requested the API call.</p>
        <p>{{ profile | json }}</p>
</div>

<div>     
    <button (click)="viewPermissionsForUser()">View Permissions for the Authenticated User</button>
    <div *ngIf="permissions">
        <pre>{{permissions}}</pre>
    </div> 
    <button (click)="viewCreatedGroupsRolesAndPermissions()">View Created Groups Roles and Permissions</button>
     <div *ngIf="groupJson2">
        <pre>{{groupJson2}}</pre>
    </div>
</div>
