<h1>Hello, {{name}}!</h1>
<p>This is an example of an Angular app authenticating to Fabric.Identity:</p>
<p>To test it out:</p>
<ul>
    <li>If this is the first time running the app, click <a (click)="setupRolesAndPermissions()" style="cursor: pointer">link</a> to set up roles and permissions.
        <div [className]="setupResultClassName">{{setupResult}}</div>
    </li>
    
    <li>Click on Patient tab to view/edit details depending on your permissions</li>
</ul>

<div>     
    <button (click)="viewPermissionsForUser()">View Permissions for the Authenticated User</button>
    <div *ngIf="permissions">
        <pre>{{permissions}}</pre>
    </div> 
    <button (click)="viewCreatedGroupsRolesAndPermissions()">View Created Groups Roles and Permissions</button>
     <div *ngIf="groupJson">
        <pre>{{groupJson}}</pre>
    </div>
</div>

<div *ngIf="profile">
        <h3>User claims</h3>
        <p>These are the claims of the user who requested the API call.</p>
        <pre>{{ profile | json }}</pre>
</div>
<div>
    <div>Troubleshooting</div>
    <button (click)="getClientInfo()">Get Client Info</button>
    <button (click)="clearAuthenticationCache()">Clear Authentication Cache</button>
    <div *ngIf="client">
        <pre>{{client}}</pre>
    </div>
</div>
